<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Профиль пользователя</title>
</head>
<body>
<h1>Профиль</h1>
<form th:action="@{/profile/upload}" method="post" enctype="multipart/form-data">
    <label for="photo">Загрузить фотографию:</label>
    <input type="file" id="photo" name="photo">
    <button type="submit">Загрузить</button>
</form>

<div>
    <h2>Ваша фотография:</h2>
    <img th:src="@{/uploads/{photo}(photo=${user.photoPath})}" alt="Фото профиля" />
</div>
</body>
</html>
