<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Register</h2>
    <form action="/register" method="post" th:object="${user}">
        <label for="username"></label>
        <input type="text" id="username"  th:field="*{username}" required>
        <label for="password"></label>
        <input type="password" id="password" th:field="*{password}" required>
        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>